body {
    background-color: rgb(212, 211, 211);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxContainer {
    margin: 10px 0;
    width: 50%;
    background-color: white;
}